* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-weight: bold;
}
.contact {
  width: 600px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.contact-card {
  width: 220px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
}

.contact--image {
  width: 220px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.info-group {
  font-size: 12px;
  margin: 10px 0; 
}

.joke {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.counter {
  display: flex;
  align-items: center;
  margin: 20px;
}

.counter--count {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
}

.counter--minus, .counter--plus {
  background-color: #999;
  border: none;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.counter--minus:hover, .counter--plus:hover {
  background-color: cadetblue;
}

.state--value {
  border: 1px solid black;
}


.card {
  border: 1px solid #999;
  width: 40%;
  margin: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card--info {
  margin-bottom: 2rem;
}

.card--image {
  width: 80%;
  margin: 2rem 0;
}

.card--favorite {
  width: 15%;
  margin: 0 1rem;
}

.card--name {
  margin: 0 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card--contact {
  margin: 0 1rem;
  font-size: .8rem;
  color: #999;
  padding: .1rem 0;
}





